<div class = "container-fluid">
<div class = "row" id = "order">
    <!-- <div class = "col-md-6 mb-5">
        <img  src = "https://i.pinimg.com/originals/c7/75/fc/c775fc6d3433da085d8f579f54b7c758.jpg" id ="tick">
    </div> -->
    
    <div class = "col-md-6 mb-5">
        <img src = "https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/6062989/3335/2210/m1/fpnw/wm0/24-.jpg?1552560199&s=960179a0ad02863d008c0d066f47b5d9" id="thank"/>
        
        </div>
    <div class = "col-md-6 mb-5">
        <h3><strong>Your order has been placed!</strong></h3><div>
            <br>
        </div>
        <h5><strong>We will notify you when your order has shipped.</strong></h5>
</div>
</div>


