<div class = "container-fluid">
<div class = "row" id = "order">
    
    <div class = "col col-md-6">
        <img src = "https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/6062989/3335/2210/m1/fpnw/wm0/24-.jpg?1552560199&s=960179a0ad02863d008c0d066f47b5d9" id="thank"/>
        
        </div>
    <div class = "col col-md-6">
        <h3><strong>Your order has been placed!</strong></h3><div>
            <br>
        </div>
        <h5><strong>We will notify you when your order has shipped.</strong></h5>
</div>
</div>


