<div class = "container"><br><br>
    
    <div class = "row">
      
      
    <div class = "col-md-6">
      <!-- <app-cart></app-cart>  -->
        <p class="h4 mb-4">Billing Address</p>

        <form class="border border-light p-5">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault01">First name</label>
              <input type="text" class="form-control" formControlName="firstName"
           id="validationDefault01" placeholder="First name" 
               required>  
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault02">Last name</label>
              <input type="text" class="form-control" id="validationDefault02" placeholder="Last name"
                required>
            </div>
          </div>
            <div class="form-row">
            <div class="col-md-8 mb-3">
              <label for="validationDefaultUsername">Email</label>
              <div class="input-group">
                <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Email"
                  aria-describedby="inputGroupPrepend21" required>
              </div>
            </div>
          </div>
            <div class="form-row">
            <div class="col-md-8 mb-3">
              <label for="validationDefaultUsername">Phone</label>
              <div class="input-group">
                <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Phone"
                  aria-describedby="inputGroupPrepend21" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-8 mb-3">
              <label for="validationDefaultUsername">Street Address</label>
              <div class="input-group">
                <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Street Address"
                  aria-describedby="inputGroupPrepend21" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-4">
              <label for="validationDefault03">City</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
            </div>
            <div class="col-md-3 mb-4">
              <label for="validationDefault04">State</label>
              <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
            </div>
            <div class="col-md-3 mb-4">
              <label for="validationDefault05">Zip</label>
              <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
            </div>
          </div>
          
        </form>
 
    </div>
  
    <div class = "col-md-6">
      
      
      <app-payment></app-payment>
    </div>
  
 
</div>

  </div>
 
  
  
