
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <ul class="list-unstyled text-center">
          <div>
            <ul class="nav md-pills">
              <li class="nav-item" >
                <a class="nav-link" data-toggle="tab" routerLink="/story" role="tab">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  data-toggle="tab" href="#" role="tab">Media</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#" role="tab">Careers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#" role="tab">Contact us</a>
              </li>
            </ul>
          
          <span>Follow us :</span>
            <li class="list-inline-item text-right">
    
              <a href = "https://www.facebook.com/" target = "blank" type="button"  size="sm" color="fb"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
            </li>
            <li class="list-inline-item">
              <a href = "https://www.instagram.com/" target = "blank" type="button" mdbBtn floating="true" size="sm" color="ins"><mdb-icon fab icon="instagram"></mdb-icon></a>

            </li>
            <li class="list-inline-item">
              <a href = "https://www.twitter.com/" target = "blank" type="button" mdbBtn floating="true" size="sm" color="tw"><mdb-icon fab icon="twitter"></mdb-icon></a>
              
            </li>
          </div>
          </ul>
        
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://thecoffeebean.com/"> thecoffeebean.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->