#logo{
    width: 100px;
    height: 60px;
    }

.nav-item{
    /* font-weight: bold; */
    padding-top: 10px;
    padding-left: 60px
    
}
.navbar{
    background-color: #000000d5;   
}

.dropdown:hover>.dropdown-menu {
    display: block;
  } 