li{
    
    margin-left:54px;
    margin-top: 10px;
    
    
}


.nav-item{
    font-weight: bold;
    padding-top:80px;
    margin-right: 20px;
}
.navbar{
    background-color: #000000d5;
    height: 120px;
    width: auto;
    
}
    
        

#logo{
    width: 120px;
    height: 120px;
    border-radius: 60%;
    padding-bottom: 5px;
    
    
}

mdb-icon{
    letter-spacing: 0.2cm;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  