
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/"><img src="assets/images/logo.JPG" id ="logo"></a></mdb-navbar-brand>

  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
         <!-- Dropdown -->
         <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          COFFEE <span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/groundcoffee">GROUND COFFEE</a>
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/wholebean">WHOLE BEAN</a>
          </div>
      </li>
       <!-- Dropdown -->
       <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        ABOUT US<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink = "/story">OUR STORY</a>
            
        </div>
    </li>
     <!-- Dropdown -->
     <li class="nav-item dropdown" dropdown>
      <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
      CONNECT<span class="caret"></span></a>
      <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">CONNECT US ON</a>
          <a href = "https://www.facebook.com/" target = "blank" type="button"  size="sm" color="fb"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
          <a href = "https://www.instagram.com/" target = "blank" type="button" mdbBtn floating="true" size="sm" color="ins"><mdb-icon fab icon="instagram"></mdb-icon></a>
          <a href = "https://www.twitter.com/" target = "blank" type="button" mdbBtn floating="true" size="sm" color="tw"><mdb-icon fab icon="twitter"></mdb-icon></a>
      </div>
  </li>
      
  
  <!-- Navbar brand -->
  
  

    <!-- Links -->
    
   <!-- Dropdown -->
   <li class="nav-item dropdown" dropdown>
    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
    LOCATIONS<span class="caret"></span></a>
    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
        <a class="dropdown-item waves-light" mdbWavesEffect routerLink = "/storelocator">STORE LOCATOR</a>
        
    </div>
</li>
 <!-- Dropdown -->
 <li class="nav-item dropdown" dropdown>
  <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
  LANGUAGE<span class="caret"></span></a>
  <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
      <a class="dropdown-item waves-light" mdbWavesEffect href="#">ENGLISH</a>
      <a class="dropdown-item waves-light" mdbWavesEffect href="#">SPANISH</a>
      
  </div>
</li>
 <!-- Dropdown -->
 <li class="nav-item dropdown" dropdown>
  <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
  LOGIN<span class="caret"></span></a>
  <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
      <a class="dropdown-item waves-light" mdbWavesEffect routerLink = "/login">LOGIN</a>
     
  </div>
</li>       

      </ul>
  </links>

</mdb-navbar>
