<p class="h4 mb-4">Payment</p>
<form class="border border-light p-5" #f="ngForm">
  <div class="row">

    <!-- <div class="col-md-4 mb-3">
      <div class="custom-control custom-radio">
        <input id="credit" 
        type="radio" 
        class="custom-control-input" checked required
        ngModel
        name="paymentMethod" required
        >
        <label class="custom-control-label" for="credit">Credit card</label>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="custom-control custom-radio">
        <input id="debit" 
        type="radio" 
        class="custom-control-input" required
        ngModel
        name="paymentMethod">
        <label class="custom-control-label" for="debit">Debit card</label>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="custom-control custom-radio">
        <input id="paypal" 
        type="radio" 
        class="custom-control-input" required
        ngModel
        name="paymentMethod">
        <label class="custom-control-label" for="paypal">Paypal</label>
      </div>
    </div> -->
    <div class="form-radio" *ngFor= "let paymentType of paymentTypes">
      <label>
      <input type="radio" required name="paymentType" 
      [ngModel]="defaultPaymentType"
      required
      [value]="paymentType">
      {{paymentType}}  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
      </label>
    </div>
  </div>
  <div class="mb-3"></div>

  <div class="row">
    <div class="col-md-9 mb-3">
      <label for="cc-name">Name</label> <small class="text-muted"> (Full name as displayed on card)</small>
      <input 
      type="text" 
      class="form-control" 
      id="cc-name" 
      placeholder=""
      ngModel
      name="ccName"
      placeholder = "Full name" 
      required
      #ccname = "ngModel"> 
      <span class="help-block" *ngIf="!ccname.valid && ccname.touched">Full name is required</span>
      
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 mb-3">
      <label for="cc-number">Card Number</label>
      <input 
      type="text" 
      class="form-control" 
      id="cc-number" 
      placeholder="" required
      ngModel
      name="ccNumber" placeholder = "Card Number"
      [pattern] = "cardPattern"
      #ccNumber="ngModel">
      <span *ngIf="!ccNumber.valid && ccNumber.touched">
        Please enter a valid card number!</span>
    </div>
   
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="cc-expiration">Expiration Date</label>
      <input 
      type="text" 
      class="form-control" 
      id="cc-expiration" 
      placeholder="" required
      [pattern] = "datePattern"
      ngModel
      name="ccExp"
      placeholder = "mm/yyyy"
      #ccExp = "ngModel">
      <span *ngIf="!ccExp.valid && ccExp.touched">
        Enter valid expiry date</span>
      
    </div>
    <div class = "col-md-1 mb-3"></div>
    <div class="col-md-3 mb-3">
      <label for="cc-expiration">CVV</label>
      <input type="text" 
      class="form-control" 
      [pattern] = "cvvPattern"
      id="cc-cvv" 
      placeholder="CVV" required
      ngModel
      name="cvv"
      #cvv = "ngModel">
      <span *ngIf="!cvv.valid && cvv.touched">
        cvv is required</span>
      
    </div>
  </div>
  <hr class="mb-4">
  <button class="btn btn-elegant" type="submit"
  [disabled]="!f.valid" (click) = "submitOrder(f)">Place Order</button>
</form>