button{
    border-radius: 5px;
    

}
button:hover{
    color: gray;
        background-color:rgb(39, 36, 36);
}
form{
    margin-bottom: 100px;
    
}

.ng-invalid.ng-touched {
    border: 1px solid red;
}

