
<div class = "container">
<br><br>
<div class = "col-md-12 mb-5">
    <p class="h4 mb-4">Order review</p>
        <div class="row">
        <div class = "col-md-12">
    <form class="border border-light p-5">
    <p class="h4 mb-4">Items in your bag</p>
    
        <!-- Grid column -->
        
            <div class="col-md-12 mb-4">
<div *ngIf = "cartItems.length === 0" class = "alert alert-info">Your Cart is Empty</div> 

<ul *ngIf = "cartItems.length > 0" class = "list-group">
    <li class = "list-group-item" *ngFor = "let item of cartItems">
        <app-cart-item [cartItem] = "item" 
        (onQuantityDecrement)="onQuantityDecremented(item)"
        (onQuantityIncrement)="onQuantityIncremented(item)"></app-cart-item>
        </li>
    <li class = "list-group-item" id="totaldisplay">
        <strong id = "total">Total : {{cartTotal | currency : '$'}}</strong>
    </li>
</ul>
</div>
    </form>
</div>
</div>

</div>

<div class = "row">
<button class="my-4" routerLink = "/billing">Continue to checkout</button>
</div>
<div class = "col-md-12 mb-6">
      
    <br><br><br>
    
  </div>
    <!-- </div>

</div> --></div>