    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/fc/3034643-poster-p-1-inside-the-coffee-renaissance-in-colombia.jpg" alt="Second slide">
           
          </div>
          <div class="carousel-caption">
            <h2 class="h3-responsive">HELLO! HERE IS OUR STORY.</h2>
          </div>
        </mdb-carousel-item>
        
      </mdb-carousel>
      <div class = "content">
        "We make coffee! More specifically, we’ve done it for over 20 years.<br><br>
        It’s exceptional tasting coffee. And that could be why we’re America’s #1 selling Whole Bean coffee. 
        <br><br>But it could also be because all our coffee is Organic. And all our coffee is Fairtrade. And it’s all deep and delicious, roasted right in the Canadian Rocky Mountains. 
        It could also be because our customers are loyal, fervent and demand goodness in every cup.
        And it’s not just our coffee that’s good.<br><br> We were named the #1 Best Workplace in USA by Great Place to Work® in 2020. <br><br>
        We know how to work hard and have fun. And we think we’re just getting started. We believe great coffee is the answer to many things".
            
        </div>
        <div class = "row">
          <br><br><br><br>
        </div>