<!-- <div class = "about">
   <h2>Our story</h2>
</div>



    <h2>Our Vision</h2>
    <p>
        Improve the lives of our guests<br>

        Support the communities we serve<br>

        Promote our common humanity
    </p> -->

    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
           
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">HELLO! HERE IS OUR STORY. </h3>
          </div>
        </mdb-carousel-item>
        
      </mdb-carousel>
      <div class = "content">
               {{story}}
            
        </div>