
  <br><br>

<div class="body">
  <img class="card-img-top" [src]="productItem.imageUrl" alt="cap-image">

  <div class="card-body">

    <p class="card-text">{{productItem.name.toUpperCase()}}<br><em>Brew method</em> - {{productItem.description}}</p>
    <p class="card-text">
      <strong>{{productItem.price | currency : '$'}}</strong>
    </p>
    <hr>

    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">

      
<
      <button type="button" class="btn btn-light center"  (click)="handleAddtoCart()">Add to Cart<i class="fas fa-coffee ml-2"
          aria-hidden="true"></i></button>
        
      
    </div>

  </div>





  </div>
