
.d-block{
height: 550px
}
.jumbotron{
   background-color:   rgba(0, 0, 0, 0.918);
   margin: auto;
}
#groundbtn{
  
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size : 20px;
}
 
h3,p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    /* padding-top: 40px */
}
#beanbtn{
   
      
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        font-size : 20px;
        
        
    }
    
    hr{
        color: white;
    }